body{
    font-size: 16px;
}
*{
    color: white;
    box-sizing: border-box;
}
header, footer{
    height: 200px;
    padding: 1em;
}

article{
    height: auto;
    background-color: rgb(87, 127, 236);
    padding: 1em;
    margin-bottom: 1em;
}

body > header{
    background-color: rgb(255, 134, 134);
    margin-left: 20%;
    margin-bottom: 1em;
}

nav{
    width: 20%;
    position: absolute;
    height: 600px;
    left: 0;
    top: 0;
    background-color: rgb(255, 134, 134);
    padding: 1em;
}

main > article > header{
    background-color: rgb(87, 127, 236);
}

main{
    margin-left: 20%;
    margin-bottom: 110px;
}

footer{
    background-color: rgb(0, 19, 53);
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    text-align: center;
}